.container {
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 410px) {
  .container div {
    display: inline;
  }
}

button {
  cursor: pointer;
  width: 45px;
  height: 45px;
  border: 2px solid #b9bbbc;
  margin: 5px;
  border-radius: 35px;
}
button.selected {
  border-color: #26baff;
}

img {
  max-height: 35px;
/*   transform: rotate(1.4) */
}

button.mat-button.not-enabled {
  opacity: 0.3;
}

.file {
  cursor: pointer;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 82px;
  height: 59px;
  opacity: 0;
}

canvas {
  display: none;
}

.buttons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.buttons button {
  border: none;
}