<p>
  STENCILIZER (made on Angular 4)
</p>
<p>
  The app creates a stencil from a give picture. You can test it using my pictures, uploading a picture of yours, or taking a snapshot with your webcam.
</p>
<p>
  Originally made on Angular 2, the app has now been updated to Angular 4. The app uses SVG, canvas and some experimental browser features, like the FileReader (to read your pictures without uploading on a server) and the WebRTC MediaStream (to use your webcam and take snapshots).
</p>
<p>
  You can see the source code on my <a href="https://github.com/Emanuele-Fortunati/angular-2-stencilizer" target="_blank">github</a>.
</p>
